{{ form_start(form) }}
    <div class="form-group mb-3">
        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group mb-3">
        {{ form_row(form.country, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group mb-3">
        {{ form_row(form.money_balance, {'attr': {'class': 'form-control'}}) }}
    </div>

    <button class="btn {{ button_color|default('btn-primary') }} mt-3 d-block w-100">{{ button_label|default('Save') }}</button>
     <a class="btn btn-sm btn-secondary mt-5 d-block" href="{{ path('app_teams_index') }}">Back to list</a>
    
{{ form_end(form) }}
