{% extends 'base.html.twig' %}

{% block title %}Teams{% endblock %}

{% block body %}
    <h1 class="mt-5">Teams</h1>

    <a class="btn btn-sm btn-primary my-3" href="{{ path('app_teams_new') }}">Create new</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Country</th>
                <th>Money Balance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for index, team in teams %}
            <tr>
                <td>{{ index + 1 }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.country }}</td>
                <td>{{ team.moneyBalance }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('app_teams_show', {'id': team.id}) }}">Show</a>
                    <a class="btn btn-sm btn-primary" href="{{ path('app_teams_edit', {'id': team.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
