{% extends 'base.html.twig' %}

{% block title %}Detail Team
{% endblock %}

{% block body %}
	<h1 class="my-5">Detail Team</h1>

	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ team.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ team.name }}</td>
			</tr>
			<tr>
				<th>Country</th>
				<td>{{ team.country }}</td>
			</tr>
			<tr>
				<th>Money Balance</th>
				<td>{{ team.moneyBalance }}</td>
			</tr>
			<tr>
				<th>Created At</th>
				<td>{{ team.createdAt ? team.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Updated At</th>
				<td>{{ team.updatedAt ? team.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-sm btn-secondary mt-5 d-block" href="{{ path('app_teams_index') }}">Back to list</a>

	<a class="btn btn-sm btn-primary mt-3 d-block" href="{{ path('app_teams_edit', {'id': team.id}) }}">Edit</a>

	{{ include('teams/_delete_form.html.twig') }}
{% endblock %}
